h1 TODO List

form.js-todo-form
  input(type="text", name="task", placeholder="My awesome task")
  input(type="submit", value="Save")

  ul.js-todo-list

  script(type="text/javascript", src="bower_components/jquery/dist/jquery.js")
  script(type="text/javascript", src="bower_components/dexie/dist/latest/Dexie.js")
  script(type="text/javascript", src="main.js")
